.ThirdSection_inside {
    display: flex;
    /* background-color: red; */

}

.ThirdSection_inside div:nth-child(1) {
    /* align-items: center !important; */
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* width: 50%; */
    /* float: left; */
    /* flex: 1; */
    /* align-content: flex-end; */
    /* padding-top: 55px; */
    justify-content: center;
    text-align: start ;
    padding-left:15px ;
    width: 50% ;
    /* flex-grow: 2; */
    padding-right: 35px;
    padding-left: 20px;
    box-sizing: border-box;
/* background-color: black; */
}



.ThirdSection_inside div:nth-child(1) >h1{
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    /* width: 200%; */
    line-height: 1;
    letter-spacing: -.45px;
    color: rgb(41, 39, 39);

}

.ThirdSection_inside div:nth-child(1) >div:nth-last-child(1) {
    display: flex;
    /* background-color: red; */
    justify-content: space-between;


 }


.ThirdSection_inside div:nth-child(1) >p{
    font-size: 20px;
width: 400px;
font-weight: 300;
padding-top: 20px;
padding-bottom: 60px;
color: #7e808c;
line-height: 1.2;
/* background-color: red; */
/* display: none; */


}

.ThirdSection_inside_appstorediv {
    /* background-color: blue; */
    width: 400px;
    margin-left: 20px
}

.ThirdSection_inside div:nth-child(1) img{
    width: 180px;
    height:54px !important;

}


/* .ThirdSection_inside div:nth-last-child(2) img{
    height: 489px;

}

.ThirdSection_inside >div:nth-last-child(1) img{
    height: 489px;
    padding-top: 80px;

} */

.ThirdSection_inside_phoneimg1 ,
    .ThirdSection_inside_phoneimg2 {
    height: 489px;
    width: 100%;
    

}

.ThirdSection_inside_phoneimg2{
    padding-top: 80px;


}

/* .ThirdSection_inside_phoneimgdiv{
    width: 2%;
} */

@media (max-width:850px){

    .ThirdSection_inside_phoneimg1 ,
    .ThirdSection_inside_phoneimg2 {
    height: 350px;
    width: 100%;
    

}

.ThirdSection_inside_appstorediv {
    /* background-color: blue; */
    width: 95%;
    margin-left: 20px
}

.ThirdSection_inside div:nth-child(1) >p{
    font-size: 16px;
width: 295%;

/* background-color: red; */


}

.ThirdSection_inside div:nth-child(1) img{
    width:95%;
    height:54px !important;

}

.ThirdSection_inside div:nth-child(1) >h1{
    font-size: 30px;
    
    width: 96%;
  

}

}

@media (max-width:515px){
    .ThirdSection_inside_phoneimg1 ,
    .ThirdSection_inside_phoneimg2 {
    height: 300px;
    width: 90%;
    

}
.ThirdSection_inside div:nth-child(1) >h1{
    font-size: 25px;
    
    width: 96%;
  

}
.ThirdSection_inside div:nth-child(1) img{
    width:90%;
    height:40px !important;

}
.ThirdSection_inside div:nth-child(1) >p{
    font-size: 16px;
width: 355%;



}
}

@media (max-width:450px){
    .ThirdSection_inside div:nth-child(1) {
    
    width: 95%;
    }
.ThirdSection_inside_phoneimgdiv {
    display: none;
}

.ThirdSection_inside div:nth-child(1) >p{
    /* font-size: 16px; */
width: 70%;
/* background-color: red; */



}

/* .ThirdSection_inside div:nth-child(1) >h1{
    font-size: 25px;
    
    width: 96%;
  

}
.ThirdSection_inside div:nth-child(1) img{
    width:90%;
    height:40px !important;

}
.ThirdSection_inside div:nth-child(1) >p{
    font-size: 16px;
width: 355%;




}  */
}