.InsideCombine_inside_headerpart_header1 {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

/* .InsideCombine_inside_Maincontent{ */
    /* height: 500px; */
/* } */
.InsideCombine_inside_headerpart_header2 {
    z-index: 1;
   
}

.App_Maincontent_inside_header2 {
    position: sticky;
    top: 0px;
    /* background-color: red;
    height: 150px; */
}

.App_Maincontent_inside_items_map {
    margin-top: 25px;
   
}

.App_Maincontent_inside_items_map_inside {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.InsideCombine_Filtering_page {
    /* display: grid;
    height: 100vh; */
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 2;
}


.InsideCombine_Filtering_page_inside {
    display: flex;
    /* background-color: red; */
}
.InsideCombine_Filtering_page_inside_left {
/* width: 50%; */
/* background-color: red; */
width: calc(100% - 460px);
/* width: 100%; */
}

.InsideCombine_Filtering_page_inside_right {
    background-color: white !important;
    margin-left: auto;
    width: 460px;
    overflow-y: scroll !important;
    animation: widhtIncrease 1s linear ;
    /* height: 667px; */
    /* transform: translateX(0px); */
}

@keyframes widhtIncrease{
    0%{
    width: 0px;
    /* transform: translateX(460px); */


    }
   
    100%{
        min-width: 460px;
    /* transform: translateX(0px); */

    }
}

.InsideCombine_NoResipeIndicator {
    color: red;
}