.CityHeader {
    width: 94%;

    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
    /* height: 80px; */
}

.CityHeader_inside_left img {
    width: 160px;
    cursor: pointer;
    padding-left: 7px;

}

.CityHeader_inside_left img:hover {
    /* width: 180px; */
    transform: scale(1.1);
    transition: 1s;

}

.CityHeader_inside_left_img_new {
    width: 33px !important;
    
}

.CityHeader_inside {
    display: flex;
    justify-content: space-between;

}

.CityHeader_inside_right {
    display: flex;
    align-items: center;

}

 .CityHeader_inside_right .Header1_inside_right_divs:nth-child(2)  {
    /* color: red; */
    margin-right: 50px;
}
/* .CityHeader_inside_right */

.CityHeader_inside_right_help {
    margin-right: 50px;
}

.CityHeader_inside_left_nameindicate {
    /* align-items: center !important; */
    /* margin-bottom: 5px !important; */
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(70, 68, 68);
}

.CityHeader_inside_left {
    display: flex;
    align-items: center !important;

}



@media (max-width:550px){
    .CityHeader_inside_right .Header1_inside_right_divs:nth-child(2)  {
        /* color: red; */
        margin-right: 20px;
    }
    /* .CityHeader_inside_right */
    
    .CityHeader_inside_right_help {
        margin-right: 20px;
    }
    
}

@media (max-width:450px){
    
    .CityHeader_inside {
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center !important; */
        /* background-color: rebeccapurple; */
    
    }
    .CityHeader_inside_right, .CityHeader_inside_left {
        justify-content: center;
    }
    /* .CityHeader_inside_left {
        justify-content: center;

    } */
    
}

