.Cart_inside_section1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 95px;
    /* background-color: red; */
}

.Cart_inside_section1_img {
    /* background-image: url(`https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/2xempty_cart_yfxml0); */
   height: 255px;
   width: 255px;
   /* justify-self: center; */
   /* align-items: center; */
  /* align-self: center; */
   background-repeat: no-repeat;
    background-image:url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/2xempty_cart_yfxml0");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  

}

.Cart_inside_section1_downpart {
    padding-top: 7px;
}

.Cart_inside_section1_downpart h2 {
    color: rgb(78, 75, 75);
    font-size: 20px;

}

.Cart_inside_section1_downpart small {
    color: rgb(145, 140, 140);


}

.Cart_inside_section1_downpart button {
    
    background-color: #fc8019;
    border: none;
    color: white;
    padding: 12px;
    font-weight: 700;
    margin-top: 35px;
    font-size: 14px;
    cursor: pointer;

 }

 .Cart_inside_carts {
    /* margin-top: 25px; */
    padding-top: 25px;
    min-height: 250px;
    background-color: #e9ecee;
    padding-bottom: 15px;

 }

 .Cart_inside_carts_inside {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    padding-bottom: 15px;
 }

 .Cart_inside_carts_inside_mapinside {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

 }

 .Cart_inside_carts_inside_mapinside div {
 flex: 1;
}

.Cart_inside_carts_inside_mapinside_namesdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    font-size: 15px;
}

.Cart_inside_carts_inside_maping {
    margin-top: 35px;
 
    border-left: 3px solid black;
    height: 200px;
    overflow-y: scroll;
    width: 90%;
    margin-left: auto;
  margin-right: auto
}

.Cart_inside_carts_inside_totalprice {
    /* padding-top: 10px; */
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
    background-color: rgb(37, 37, 95);
    /* background-image: linear-gradient(rgb(229, 54, 31),blue,rgb(241, 128, 128)); */
    padding: 10px;
    color: white;
    margin-bottom: 25px;
}

.Cart_inside_carts_inside_totalprice span{
    background-color: rgb(247, 13, 13);
    /* background-image: linear-gradient(red,rgb(29, 2, 37)); */
    padding: 5px;
    cursor: pointer;
    border: 1px solid white;

}

.Cart_inside_carts_inside_mapinside_numbersdiv {
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* font-size: large !important; */
    /* align-items: center !important; */
    padding: 3px;

}

.Cart_inside_carts_inside_mapinside_numbersdiv button{
    background-color: white;
    border: none;
    cursor: pointer;
    color: green;
   font-size: medium;
   font-weight: 600;

}

.Cart_inside_carts_inside_mapinside_numbersdiv button:nth-child(1)

{
color: black;
}

.Cart_inside_carts_inside_number {
    padding-top: 15px;
}

.Cart_inside_carts_inside_totalprice_div {
    border: 1px solid lightgray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}