.HelpContainer_inside {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: white;
    padding-top: 50px;
}

.HelpContainer_inside >h1{
    margin-bottom: 3px ;
}

.HelpContainer_inside {
    /* background-color: red; */
    padding-bottom: 35px;

}