.Help_Support {
    background: #37718e;
}

.Help_Support_inside_FAQpart {
    background-color: white;
    width: 98.5%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    /* margin-top: 35px; */
    height: fit-content;
}

.Help_Support_inside_FAQpart_left {
    padding: 40px;
    
    /* background-color: #37718e;
    color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1; */
}

.Help_Support_inside_FAQpart_left_inside {
    min-width: 260px;
    background: #edf1f7;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    /* margin-top: 10px; */
    box-sizing: border-box;
    position: sticky;
    /* top: 550px; */
    /* height: 150px; */
    /* z-index: 1; */
   /* top: 50; */
top: 80px;
    /* height: 150px; */

  
}



.Help_Support_inside_FAQpart_right {
    padding: 40px 0px;


}
.Help_Support_inside_header {
    height: 80px;
    background-color: #37718e;
    color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    /* align-items: center !important; */
}

.Help_Support_inside_header_inside {
    width: 92.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    padding-top: 0.1px;

}

.Help_Support_inside_header_inside >h2 {
    margin-bottom: 2px;
}

.Help_Support_inside_FAQpart_left_inside >button {
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    height: 70px;
    font-weight: 700;
    font-size: medium;
    color: #656667;
    /* background-color: white; */
    background: #edf1f7;


 }

.Help_Support_inside_FAQpart_left_inside >button:hover {

    color: black;
    cursor: pointer;
    /* background-color: white; */

}

.Help_support_FAQ_buttonselected {
    background-color: white !important;
}

.Help_Support_inside_FAQpart_right h2 {
    text-align: start !important;
}



.Help_FAQ_summary:hover  .Help_FAQ_Typography{
    /* background-color: black !important; */
    color: #fc8019;

}

@media (max-width:600px){
    .Help_Support_inside_FAQpart {
        
        flex-direction: column;
       
    }

.Help_Support_inside_FAQpart_left_inside {
flex-direction: row;
min-height: 100px !important;
position: sticky;
top: 100px;}


.Help_Support_inside_FAQpart_right h2 {
    text-align: center !important;
}}

