.Dashboard_inside {
    position: relative;
}

.Dashboard_inside_adminselectbtn {
    min-height: 75px;
    background-color: #051b30 ;
    position: sticky;
    top: 0;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    z-index: 1;

}

.Dashboard_inside_adminselectbtn button {
    background-color: white;
    border: 2px solid white;
    align-self: center;
    padding: 7px;
    margin-right: 10px;
    cursor: pointer;
    width: 75px;
    font-weight: 700;
    font-size: medium;

}

.Dashboard_inside_adminselectbtn button:hover {
    background-color: black;
    color: white;

}

.btnselected {
    background-color: blueviolet !important;
    color: white;
}

.btnselected:hover {
    background-color: green !important;


}

.Dashboard_inside_gobackBtn {
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;
    background-color: red !important;
    border: 2px solid white;
    padding: 7px;
    border-radius: 3px;
    width: 75px;
    z-index: 1;
}

.Dashboard_inside_gobackBtn_link {
    color: white;

}
/* .Dashboard_inside_adminselectbtn_display {
    z-index: 2;
} */