.CombineFooter {
    background-color: black;
    color: white;
}

.CombineFooter_inside {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.CombineFooter_inside_showupdown {
    width: 50px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;

}

.CombineFooter_inside_showdown_icon {
    position: relative;
    top: -5px;
    animation: gotodownaniamtion 1s infinite;

}

@keyframes gotodownaniamtion{
    0% {
        top: -5px;

    }
    50% {top: 5px;}
    100% {top: 5px;}
}

.CombineFooter_inside_showup_icon {
    position: relative;
    top: -5px;
    animation: gototopaniamtion 1s infinite;

}

@keyframes gototopaniamtion{
    0% {
        top: 5px;

    }
    50% {top: -5px;}
    100% {top: -5px;}
}