.Footer1 {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding-top: 50px;
    color: gray;
    font-size: 15px;
    /* text-transform: uppercase; */
    font-weight: 600;
    border-bottom: 1px solid rgb(117, 116, 116);
    padding-bottom: 25px;
    
}

.Footer1_info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    /* flex: 1; */
    /* width: 30%; */
    color: white ;
    /* font-weight: 300; */
    font-weight: 330;
    font-size: 17px;
    /* font-family: ProximaNova,arial,Helvetica Neue,sans-serif; */


}
.Footer1_info span {
    margin-top: 15px;
    cursor: pointer;

}

.Footer1_info span:hover {
    font-weight: 400;
    /* font-size: 17px; */

}

.Footer1 div:nth-last-child(1) img{
    width: 200px;
    border: 1px solid rgb(133, 128, 128);
    border-radius: 10px ;
    margin-bottom: 25px;
    /* align-items: flex-end; */
    cursor: pointer;

}

.Footer1 div:nth-last-child(1) img:hover{
    transform:scale(1.1);
    /* transform:scaleY(1.1); */
    transition: 1s;

}

.Footer1 >div {
    width: 25%;
}
.Footer1 >div:nth-last-child(1){
    /* align-items: flex-end; */
    /* justify-content: end; */
    text-align: end !important;

}

.Footer1_info a {

color: white;
text-decoration: none;
}

.Footer1_info a:hover {

    color: white;
    font-weight: 400;

    }
    

