/* .FirstSection_inside { */
    /* height: 680px ; */
    /* background-color: red; */
/* }  */

.FirstSection_inside {
    display: flex;
    width: 100%;
}


.FirstSection_inside_Locationpart {
    width: 55%;
    /* background-color: red; */
    /* min-width: 705px; */
    /* align-items: center; */
}

.FirstSection_inside_imgpart {
    height: 535px;
    /* background-image: url('https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch3-new_mkqxdb'); */
    /* background-image: url('https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch2-new_xexpaz'); */
    background-image: url('https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq');
    /* https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq */
    position: absolute;
    width: calc(100% - 55%);
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    top: 0;
    /* width: 50%; */
}

/* @media (max-width:850px){
.FirstSection_inside_Locationpart {

max-width: 80% ;
background-color: red;
}
    
} */

@media (max-width:650px){

.FirstSection_inside_Locationpart {
   width: 95%;
    margin-left: auto;
    margin-right: auto;

}

.FirstSection_inside_imgpart {
width: 0%;
}

}

@media (max-width:500px){

    .FirstSection_inside_Locationpart {
      width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    
    }


}

@media (max-width:415px){
    .FirstSection_inside_Locationpart {
        width: 95% !important;
         /* margin-left: auto;
         margin-right: auto; */
         /* background-color: blue; */
         margin-left: auto;
     
     }
}