/* .Locationentering_inside {
background-color: red;    
} */

.Locationentering_inside_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.Locationentering_inside_top img{
    width: 190px;
    /* background-color: red; */
    padding-left: 45px;

}

/* .Locationentering_inside_top div{ 
    background-color: blue;
} */

.Locationentering_inside_top div:nth-last-child(1){
    /* color: red; */
    padding-right: 50px;
    /* align-items: center; */
    display: flex;
    justify-content: space-between;

}

.Locationentering_inside_top_signupbtn {
    background-color: black;
    color: white;
    height: 40px;
    /* align-items: center; */
    width: 110px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 8px;
    border: 2px solid black;
    font-size: 16px;

}

.Locationentering_inside_top_loginbtn {
    margin-right: 23px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    /* font-size: medium; */
    font-size: 15px;

    /* background-color: red; */
    height: fit-content;
    /* align-items: center; */
    margin-top: 20px;



    
}

.Locationentering_inside_top_loginbtn:hover {

    color: #FC8019;
 }

 /* .Locationentering_inside_Changing {
    text-align: start;
    margin-left: 40px;
    margin-top: 65px;
    color: rgb(34, 32, 32);
    height: 50px;
    overflow: hidden;
    background-color: red;
 } */


 .Locationentering_inside_info {
    text-align: start;
    margin-left: 40px;
    color: rgb(112, 110, 110);
    /* line-height: 200px; */
    /* line-height: 50px; */
   margin-top: -8px;
   font-size:22px;

 }

 .Locationentering_inside_input {
    margin-top: 45px;
    text-align: start;
    display: flex;
    margin-left: 40px;
    width: 100%;
    /* background-color: red; */
    /* height: 65px; */
    position: relative;

 }
 .Locationentering_inside_input div:nth-child(1){
    position: relative;
    /* background-color: red; */

 }




 .Locationentering_inside_input  input{
 
     font-size: 15px;
     font-weight: 900;
    height: 35px;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid lightgray;
    /* outline: 1px solid #FC8019; */
    /* border: none; */
    width: 455px;
    /* width: 100%; */
    /* width: calc(); */
    

}
.focusClass {
    outline: 1px solid #FC8019;


}
.noFocusClass {
    border: 1px solid lightgray;
    

}

/* .Locationentering_inside_input  input{
    outline: 1px solid #FC8019;


} */

.Locationentering_inside_input_findfoodbtn {
    background-color: #FC8019;
    width: 140px;
    /* border: 5px solid #FC8019; */
    height: 59px;
    margin-top: -1.5px;
   /* box-sizing: content-box; */
   display: flex;
   justify-content: center;
   cursor: pointer;  
}

/* .Locationentering_inside_input div:nth-last-child(1){
    background-color: #FC8019;
    width: 140px;
    height: 59px;
    margin-top: -1.5px;
   display: flex;
   justify-content: center;
   cursor: pointer;

} */

.Locationentering_inside_input_findfoodbtn button{
background-color: #FC8019;
border: none;
font-size: 16px;
    font-weight:bolder;
    letter-spacing: .53px;
    color: #fff;
    /* align-items: center; */
    line-height: 60px;
   cursor: pointer;

    

 }

 .Locationentering_inside >div:nth-last-child(2){
    /* background-color: red; */
    margin-left: 40px;
   text-align: start;
   margin-top: 28px;
   font-size: 15px;
   color: rgb(192, 179, 179);
   text-transform:uppercase;
    
 }

 .Locationentering_inside_cities {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    /* background-color: red; */
    margin-top: 13px;
    width: 85%;
    color: rgb(94, 87, 87);
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;

 }

 .Locationentering_inside_cities>div {
    margin-right: 5px;
 
}
.Locationentering_inside_cities div:nth-child(2n) a{
    color: rgb(163, 156, 156) ;

}

.Locationentering_inside_cities a{
    color: rgb(94, 87, 87);
    text-decoration: none;

}

.Locationentering_inside_cities a:hover{
    color: rgb(94, 87, 87);
    text-decoration: none;

}

.Locationentering_inside_input_input {
    position: relative;
}


.Locationentering_inside_inputLocation {
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 14px;
    color: rgb(102, 96, 96);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    width: 100px;
    justify-content: space-between;
    height: 35px;
    }

.Locationentering_inside_inputLocation:hover {
    background-color: lightgray;

 }


.Locationentering_inside_inputLocation small:nth-last-child(1){
    font-size: 12px !important;
    font-weight: bolder;

}


    .Locationentering_inside_inputLocation_icon {
        /* position: absolute;
        right: 70px;
        top: 0.01px; */
        font-size: 15px !important;
        /* color: rgb(102, 96, 96);
        font-weight: 500; */
    }

    .Locationentering_inside_inputLocationclear {
        position: absolute;
        right: 10px;
        top: 11px;
        font-size: 13px;
        color: #FC8019;

        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: none;
        background-color: white;
        /* width: 100px; */
        justify-content: space-between;
        height: 35px;


    }

.please_enter_drivng_location_div {
    position: absolute;
    top: 55px;
    background-color:  #fa4a5b;
    display: flex;
    width: 88.7%;
    height: 53px;
    color: white;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    /* right: 1%; */
    left: -1.5px;
    font-size: 13px;



}

/* .please_enter_drivng_location_div span{

} */

/* .Locationentering_inside_cities */

/* .Locationentering_inside_Changing_2,.Locationentering_inside_Changing_3,
.Locationentering_inside_Changing_4,.Locationentering_inside_Changing_5,
.Locationentering_inside_Changing_6{
    display: none;
}





.Locationentering_inside_Changing_1 {
  
    animation: changingwords 5s ease infinite;

}

@keyframes changingwords{
    0% {
        display: block;
        color: red;
    }
    17% {
        display: block !important;
        color: blue;
    }
    100% {
        display: block;
    }
} */


/* .i-title {
    height: 50px;
    overflow: hidden;
  } */

  .Locationentering_inside_Changing {
    text-align: start;
    margin-left: 40px;
    margin-top: 65px;
    /* font-weight: 100; */
    color: rgb(34, 32, 32);
    height: 50px;
    overflow: hidden;
    /* background-color: red; */
    /* padding-bottom: 5px; */
    margin-bottom: 10px;
 }

  
  .i-title-wrapper {
    height: 90%;
    animation: move 11s  infinite ;
  }
  
  @keyframes move {
    16% {
      transform: translateY(-35px);
    }
    32% {
      transform: translateY(-95px);
    }
    48% {
      transform: translateY(-150px);
    }
    64% {
      transform: translateY(-210px);
    }
    80% {
        transform: translateY(-265px);

    }
    100%{
        transform: translateY(-325px);

    }


  }
  
  .i-title-item {
    height: 12px;
    font-size: 30px;
    font-weight: bold;
    /* color: #59b256; */
    /* display: flex; */
    /* align-items: center; */
    padding-top: 25px;
  }




  @media (max-width:1000px){
 .Locationentering_inside_input  input{
    width:400px;
 
}

.Locationentering_inside_input_findfoodbtn {
    width: 250px;
    font-size: 10px ;
   
     
}

.Locationentering_inside_input_findfoodbtn button{
 
    font-size: 11px;

    
        
    
     }

}


@media (max-width:935px){
    .Locationentering_inside_input  input{
       width:300px;
    
   }
   
   .Locationentering_inside_input_findfoodbtn {
       width: 200px !important;
    
   }
   

   }


   @media (max-width:750px){
    .Locationentering_inside_input  input{
       width:250px;
    
   }
   
   .Locationentering_inside_input_findfoodbtn {
       width: 150px !important;
    
   }
   

   }

   /* @media (max-width:500px){
    .Locationentering_inside_input  input{
       width:250px;
    
   }
   
   .Locationentering_inside_input_findfoodbtn {
       width: 150px !important;
    
   }
   

   } */

@media (max-width:650px){

.Locationentering_inside_top img{
       
padding-left: 0px;
    
    }
    .Locationentering_inside_Changing {
margin-left: 0px;}



.Locationentering_inside_cities {
margin-left: 0px;}


 .Locationentering_inside_input {

margin-left: 0px;}


.Locationentering_inside_info {
    margin-left:0px;

   margin-top: -8px;
   font-size:22px;

 }
 .Locationentering_inside >div:nth-last-child(2){
    margin-left: 0px;}

    .Locationentering_inside_top div:nth-last-child(1){
   
        padding-right: 0px;
      
    
    }
}



@media (max-width:455px){
    .Locationentering_inside_input  input{
        width:200px !important;
     
    }
    
    .Locationentering_inside_input_findfoodbtn {
        width: 150px !important;
     
    }
    
}
/* 

.Locationentering_inside_Changing {
    background-color: yellow;
}

.Locationentering_inside_info {
    background-color: blue;
}

.Locationentering_inside_input {
    background-color: #fa4a5b !important;
}

.Locationentering_inside_input_input {
    background-color: #fa4a5b !important;

}
.Locationentering_inside_input_findfoodbtn {
    background-color: pink;
}

.Locationentering_inside_cities {
    background-color: aqua;
}

.Locationentering_inside >div:nth-last-child(2){
    background-color: rgb(255, 187, 0);} */


    @media (max-width:350px){
        .Locationentering_inside_top img{
            width: 150px;
        }

        .Locationentering_inside_Changing h1{
           /* background-color: yellow; */
           font-size: 27px !important;
        
        }
        
    }