/* .Locationentering_inside {
    
} */

.Locationentering_inside_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.Locationentering_inside_top img{
    width: 250px;
    /* background-color: red; */
    padding-left: 25px;

}

/* .Locationentering_inside_top div{ */
    /* background-color: blue; */

/* } */

.Locationentering_inside_top div:nth-last-child(1){
    /* color: red; */
    padding-right: 45px;
    /* align-items: center; */
    display: flex;
    justify-content: space-between;

}

.Locationentering_inside_top_signupbtn {
    background-color: black;
    color: white;
    height: 40px;
    /* align-items: center; */
    width: 75px;
    cursor: pointer;
    font-weight: 900;
    margin-top: 17px;

}

.Locationentering_inside_top_loginbtn {
    margin-right: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 900;

    
}

.Locationentering_inside_top_loginbtn:hover {

    color: #FC8019;
 }