
.Signup_Inside {
    display: flex;
    /* padding-top: 25px; */
    height: 100%;
    z-index: 1;
  /* overflow: hidden; */
  overflow-y:scroll;
    
    
}

.Signup_Inside_left{
    /* background-color: red; */
    width: 65%;

}
.Signup_Inside_right {
    background-color: white;
    width: 35%;
    color: black;
    /* transform: */
    min-width: 460px;
}

.Signup_Inside_right_inside{
    padding-top: 25px;
    text-align: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.Signup_Inside_right_inside_signup {
    display: flex;
    flex-direction: column;
    /* height: 55px; */
margin-top: 45px;
/* width: 100% !important; */

}

.Signup_Inside_right_inside_signup input{
    height: 71px;
    border: 0.2px solid #d4d5d9;
    outline:  0.2px solid #d4d5d9;
    padding-left: 15px;
    width: 100% !important;
    box-sizing: border-box;
    /* Change */
    font-size: larger;
    font-size: 17px;
    font-weight: 600;
    color: rgb(49, 47, 47);
    padding-top: 19px;


}
/* .Signup_Inside_right_inside_signup >div:nth-last-child(1){
    background-color: #FC8019;
    color: white;
    height: 55px;
    margin-top: 25px;
    border: none;
    justify-content: center !important;
    cursor: pointer;


} */

.Signup_btn_Submit {
    background-color: #FC8019;
    /* color: #FC8019; */
    color: white;
    height: 55px;
    margin-top: 25px;
    border: none;
    /* text-align: center; */
    justify-content: center !important;
    cursor: pointer;

}

.Signup_Inside_right_inside >div:nth-last-child(1){
    margin-top: 10px;
    /* color: red; */
    font-size:12px;
    color: rgb(96, 89, 89);
}

.Signup_Inside_right_inside img{
    width: 100px;
}

.Signup_Inside_right_inside div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Signup_Inside_right_inside div:nth-child(2) button{
    color: #FC8019;
    background-color: white;
    border: none;
    cursor: pointer;
    /* align-items: center; */
    padding-top: 2px;
    font-weight: 600;

}

.Signup_Inside_right_inside >div:nth-child(1) button{
    border: none;
    background-color: white;
    cursor: pointer;
    /* text-align: start; */
    font-size: 20px;
    /* width: 35px; */
    color: rgb(86, 83, 83);
}

/* .Signup_Inside_right_inside_signup */

.Signup_input_div {
    position: relative;
}

/* .Signup_input_divphonespan,.Signup_input_divnamespan,.Signup_input_divemailspan,
.Signup_input_divpasswordspan {
    position: absolute;
    top: 18px;
    left: 13px;
    color: rgb(139, 134, 134);
} */

.Signup_input_divspan {
    position: absolute;
    top: 30px;
    left: 15px;
    color: rgb(139, 134, 134);
    pointer-events: none;
}

.Signup_input_divspanup {
    position: absolute;
    top: 12px;
    left: 15px;
    color: rgb(139, 134, 134);
    pointer-events: none;   
    font-size: small;
}

.referalspan {
    padding-top: 30px !important;
    font-size: 1.1rem;
    font-weight: 500;
    color: #5d8ed5;
    cursor: pointer;
    font-size: medium;
}

/* .Signup_input_div:nth-last-child(1){
    color: red !important;
    margin-bottom: 50px;
} */

.Signup_input_divspanpasswordshow {
    position: absolute;
    right: 12px;
    top: 28px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
}

.invalidshow {
    position: absolute;
    top: 12px;
    left: 15px;
   
    pointer-events: none;   
    font-size: small;
    color: #fa4a5b;
    font-size: 12px;
    font-weight: 500;

}
/* 
.Signup_input_div input:nth-child(1){
    color: red;

} */

/* .Signup_input_div_input_phone input::placeholder{
    color: red !important;
    display: none;
    


} */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.invalidshowup {
    color: red !important;
}

.invalidshowdown {
    position: absolute;
    /* top: 19px; */
    top: 30px;

    left: 15px;
   
    pointer-events: none;   
    font-size: small;
    color: #fa4a5b;
    font-size: 17px;
    font-weight: 500;

}