.App {
 
  text-align: center;
  /* overflow-y: overlay;
  scrollbar-width: none */
}


.App_inside_Signup {
  position: fixed;
  top: 0px;
  /* background-color: rgb(40, 38, 38); */
  background-color: rgba(0, 0, 0,0.5);
  color: white;
  /* height: 100%; */
  display: grid;
  height: 100vh;
  width: 100%;
  /* align-items: center; */
  /* width: 100vh; */
  /* width: 100%; */
  /* z-index: 1000; */
  /* overflow: hidden; */
  z-index: 2;
  transition: 10s;
}

.App_Maincontent_inside_header2 {
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0,0.5);
  /* border: none !important; */
  z-index: 1;
}




.loading_app {
  
  /* display:grid; */
  /* place-items:center;
  align-items: center;
  display: flex;
  height:100vh;
  width:100%;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  /* place-items: center; */
  align-items: center;
  height: 100vh;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2); */
  
  
  
  }
  
  
  
  .loading_spin {
  
  text-align:center;
  padding-bottom:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  }
  
  .loading_spin >img {
    height:100px;
    padding:20px;
    width: 150px;
    margin-bottom:40px;
    /* border-radius: 15px; */
  }